main {
  grid-area: main;
}

section {
  grid-area: section;
}
footer {
  grid-area: footer;
}
.logo {
  grid-area: logo;
}
.pPrestation {
  grid-area: prestationHeader;
}
.pContact {
  grid-area: contactHeader;
}
